.bloco{
    display: block;
}
.linha{
    display: inline;
}
.linha-bloco{
    display: inline-block;
}
.oculto{
    display: none;
}
.visivel{
    visibility: visible;
}
.invisivel{
    visibility: hidden
}
.estatico{
    position: static;
}
.relativo{
    position: relative;
    top: 10px;
    left: 20px;
}
.absoluto{
    position: absolute;
    top: 50px;
    right: 0;
}
.fixo{
    position: fixed;
    bottom: 0;
    left: 0;
}
.grudento{
    position: sticky;
    top: 10px;
}